.first{
    height: 5px;
    background-color: black;
}

.second{
    height: 5em;
    background-color: red;
}

.secondf{
    color: red;
}

.third{
    height: 5rem;
    background-color: purple;
}

.thirdf{
    color: purple;
}

.fourth{
    height: 5vw;
    background-color: green;
}

.fourthf{
    color: green;
}

.fifth{
    height: 5vh;
    background-color: orange;
}

.fifthf{
    color: orange;
}